
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo+Mono:ital,wght@0,500;0,700;0,800;1,900&family=Hanken+Grotesk:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
body{
    background-color: rgb(255,186,0);
    overflow: hidden;
}


h1{

    color: black;
    text-align: center;
    font-size: 70px;
}
 .image{
    height: 350px;
    min-width: 350px;
   position:relative;
   left: -10px;
   bottom:-40px;
}
  .paragraph{
    font-family: 'Alfa Slab One', cursive;
  color: black;
  position:relative;
  left: 90px;
  font-size: larger;
  bottom:-42px;

}
.word{
    font-size:17px;
    position: relative; 
    left:120px;
    top:-20px

}
.data{
    font-size: 16px;
    position: relative;
    left: 130px;
    top: -70px;
}
.para{
    font-family: 'Chivo Mono', monospace;
    color: black;
    position:relative;
    left :130px;
    top: -90px;
    font-size: 19px;
}

.image3{
    height: 350px;
    min-width: 350px;
    position:relative;
    left: 580px;
    top: -608px;
    
}
.Name{
    font-family: 'Alfa Slab One', cursive;
  color: black;
  position:relative;
  left: 650px;
  font-size: larger;
  bottom: 608px;
}
.Post{
    font-size:17px;
    position: relative; 
    left:679px;
    top:-672px;
}
.info{
    font-size: 16px;
    position: relative;
    left: 694px;
    top: -721px;

}
.date{
    font-family: 'Chivo Mono', monospace;
    color: black;
    position:relative;
    left :687px;
    top: -738px;
    font-size: 19px;
}
.image1{
    height: 350px;
    min-width: 350px;
    position: relative;
    left: 1180px;
    bottom: 1257px;
}
.Names{
    font-family: 'Alfa Slab One', cursive;
  color: black;
  position:relative;
  left: 1291px;
  font-size: larger;
  bottom: 1258px;
}
.Posts{
    font-size:17px;
    position: relative; 
    left:1294px;
    top:-1322px;
}
.infos{
    font-size: 16px;
    position: relative;
    left: 1280px;
    top: -1370px;

}
.dates{
    font-family: 'Chivo Mono', monospace;
    color: black;
    position:relative;
    left :1302px;
    top: -1387px;
    font-size: 19px;
}
