@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    flex-direction: row-reverse; */
    background-color:rgb(109,151,115) ;
}
h1{
    font-family: 'Chivo Mono', monospace;
    color: white;
    font-size: 60px;
    margin-bottom: 230px;
}
.Red{
    padding: 20px;
    line-height: 50px;
    width: 50%;
    position: absolute;
    right:-125px;
    top:8px;
    align-items: center;
}
.Red h3{
    color: white;
    margin: 10px;
    font-size: 25px;

}
.container{
    position:absolute;
    left:0px;
    top:115px;
    width:50%;
}

.image{
    max-width: 100%;
    height: auto;
  
}

@media screen and (max-width:1024px) {
    body{
        flex-direction: row-reverse;
        
    }
    .Red{
        width: 100%;
    }
    .image{
        width: 100%;
       
    }
}
    @media screen and (max-width:768px){
        body{
            flex-direction: column-reverse;

        }
        .Red{
width:100%
        }
        .image{
            width:100%
        }

    }
        



    

