@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&display=swap');
body{
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: row;
    
}
h1{
    
    color: white;
    font-size: 60px;
}

.green{
    padding: 50px;
    background-color: rgb(12,59,46);
    width: 50%;
}

.green h3{
    color: rgb(255,255,255);
    margin-bottom: 80px;
    font-size: 30px;
}
.green button{
    font-weight: bolder;
    background-color: rgb(255,186,0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
    padding: 15px;
}
.green p{
    color: rgb(255,255,255);
    margin-bottom: 80px;
    font-size: 20px;
}
.image{
    height: auto;
    min-width: 50%;

}
@media screen and (max-width:768px) {
    body{
        flex-direction: column-reverse;
    }
    .green{
        width: 100%;
    }
    .image{
        width: 100%;
    }
}

